body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    background-color: navajowhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

table {
    border-collapse: separate;
}

div.schedule-container {
    background-color: lightblue;
    padding: 20px;
    border: 10px solid black;
}

table.schedule {
    border: 4px solid rgb(167, 20, 204);
    border-collapse: collapse;
    font-size: 16px;
}

table.schedule td, th {
    padding: 5px;
    border: 1px solid black;
}

table.schedule thead {
    background-color: darkslategray;
    color: white;
}

table.schedule tfoot {
    background-color: black;
    color: white;
}
td.spanned {
    background-color: lightcoral;
    text-align: center;
}

/* table.schedule tr td:nth-child(1){
    font-weight: bold;
    background-color: azure;
} */

table tbody >tr:nth-child(even){
    background-color: aquamarine;
}


table tbody >tr:hover{
    background-color: blanchedalmond;
    font-style: italic;
}

table caption {
    text-align: right;
    caption-side: bottom;
}

col#timeOfDay {
    background-color: steelblue;
    font-weight: bold;
    width: 16%;
}

col.dayOfWeek{
    background-color: white;
    width: 12%;
}



